* {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#first-paragraph {
  margin-top: 100px;
  text-align: justify;
}

.img-fluid {
  margin: 0 auto;
}

#cart {
  margin-right: 100px;
}

#visa_img {
  height: 80px;
  width: 80px;
  margin-top: -20px;
  margin-left: 10px;
}

#mastercard_img {
  height: 80px;
  width: 80px;
  margin-top: -20px;
  margin-left: 10px;
}
#americanexpress_img {
  height: 80px;
  width: 80px;
  margin-top: -20px;
  margin-left: 10px;
}
#amazonpay_img {
  height: 80px;
  width: 80px;
  margin-top: -20px;
  margin-left: 10px;
}

#paypal_img {
  height: 80px;
  width: 80px;
  margin-top: -20px;
  margin-left: 10px;
}
