* {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#first-paragraph {
  margin-top: 100px;
  text-align: justify;
}

.img-fluid {
  margin: 0 auto;
}
